@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

:root {
    /* ## Colors */

    /* ### Primary */
    
    --bright-blue: hsl(220, 98%, 61%);
    --check-background: linear-gradient(to right, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
    
    /* ### Neutral */
    
    /* ### Light Theme */
    
    /* --Very-Light-Gray: hsl(0, 0%, 98%);
    --Very-Light-Grayish-Blue: hsl(236, 33%, 92%);
    --Light Grayish Blue: hsl(233, 11%, 84%);
    --Dark Grayish Blue: hsl(236, 9%, 61%);
    --Veryrayish-Blue: hsl(235, 19%, 35%); */
    
    /* ### Dark Theme */
    
   --background-color: hsl(235, 21%, 11%);
    --card-color: hsl(235, 24%, 19%);
    --text-color: hsl(234, 39%, 85%);
    --hover-text-color: hsl(236, 33%, 92%);
    --secondary-text-color: hsl(234, 11%, 52%);
    --border-color: hsl(233, 14%, 35%);
    /* --VBlue: hsl(237, 14%, 26%); */
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.background {
    width: 100%;
    min-height: 100vh;
    background: url(./images/bg-desktop-dark.jpg), var(--background-color);
    background-position: center top, center;
    background-repeat: no-repeat;
    background-size: contain;
}

main {
    position: absolute;
    z-index: 1;
}

.container {
    width: 30rem;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 4rem 0;
}

.header h1 {
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.85rem;
    font-weight: 700;
    font-size: 2.5rem;
}

form {
    display: flex;
    gap: 1rem;
    background-color: var(--card-color);
    padding: 1rem;
    border-radius: 0.25rem;
    margin-bottom: 2rem;
}

.add-task {
    border: 1px solid var(--border-color);
    background-color: transparent;
    color: var(--card-color);
    padding: 0.25rem 0.5rem;
    border-radius: 50%;
    font-size: 1.25rem;
}

input[type=text] {
    outline: none;
    border: none;
    background-color: transparent;
    color: var(--text-color);
    font-weight: 400;
    font-size: 1.25rem;
}

::placeholder {
    color: var(--text-color);
}

.task-container {
    display: flex;
    flex-direction: column;
    background-color: var(--card-color);
    border-radius: 0.25rem;
}

.task {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--text-color);
    padding: 1rem;
    font-size: 1.25rem;
    border-bottom: 1px solid var(--border-color);
}

.task .checkbox-container {
    position: relative;
}

.task .checkbox-container label {
    display: block;
    height: 25px;
    aspect-ratio: 1;
    cursor: pointer;
    border: 1px solid var(--border-color);
    border-radius: 50%;
}

.task .checkbox-container label:after {
    content: "";
    position: absolute;
    background-image: url(./images/icon-check.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 14px;
    aspect-ratio: 1;
    top: 8px;
    left: 7px;
    opacity: 0; 
}

.task .checkbox-container input[type="checkbox"] {
    visibility: hidden;
    display: none;
    opacity: 0;
}

.task .checkbox-container input[type="checkbox"]:checked + label {
    background-image: var(--check-background);
    border-color: var(--card-color);
}

.task .checkbox-container input[type="checkbox"]:checked + label:after {
    opacity: 1;
}

.options {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--secondary-text-color);
    padding: 1rem;
}

.filters {
    display: flex;
    gap: 0.5rem;

}

.instruction {
    display: flex;
    justify-content: center;
    color: var(--secondary-text-color);
    margin-top: 4rem;
}

footer {
    position: absolute;
    bottom: 1rem;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}